.DetailPage__wrap {
    width: 100vw;
    height: 100vh;

    .iframe {
        position: fixed;
        width: 400px;
        height: 100vh;
    }

    .map {
        margin-left: 400px;
        width: calc(100% - 400px);
        height: 100vh;
    }
}