.head {
    display: flex;
}

.list__info {
    width: 95%;
    min-height: 100vh;
    background-color: #ddd;
    margin: 0 auto;
    border-radius: 29px;

    .list__grid {
        padding-top: 60px;
        margin: 0 auto;
        width: 95%;
        display: grid;
        grid-template-columns: repeat(4, 23.5%);
        justify-content: space-between;
        gap: 20px;

        section {
            background-color: #fff;
            border-radius: 20px;
            margin: 0 auto;
            width: 300px;
            height: 300px;
            flex-wrap: wrap;
            align-content: center;
            text-align: center;
            display: inline-block;
            position: relative;

            h2 {
                position: absolute;
                top: 16px;
                left: 50%;
                transform: translate(-50%);
                font-size: 24px;
                font-weight: 600;
            }

            p {
                position: absolute;
                top: 16px;
                left: 20px;
                background-color: #eae8e8;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                border-radius: 50%;
            }

            img {
                width: 200px;
                height: 180px;
                position: absolute;
                bottom: 28px;
                left: 50%;
                border-radius: 10px;
                transform: translate(-50%);
            }
        }

        @media (max-width: 1400px) {
            grid-template-columns: repeat(3, 32%);
            gap: 15px;
        }

        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 49%);
            gap: 10px;
        }

        @media (max-width: 400px) {
            grid-template-columns: repeat(1, 100%);
        }
    }
}