.region-detail {
    overflow: hidden;
    height: 100vh;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    background-color: #F5F5DC;

    .RegionDetail_header {
        display: flex;
        align-items: center;
        padding-bottom: 20px;

        img {
            width: 80px;
            height: 80px;
            display: block;
            &:nth-child(1) {
                margin-left: 20px;
            }
        }

        h1 {
            width: 100%;
            font-weight: 600;
            font-family: var(--mainfont-Oswald);
            font-size: 3.5rem;
            margin-left: 20px;
        }
    }

    .controls {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        margin-right: 20px;
        margin-top: 40px;

        select,
        input[type="date"] {
            padding: 10px;
            font-size: 1em;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 170px;
        }

        .combined-select {
            width: 350px;  /* 두 개의 셀렉트 박스를 합친 크기 */
        }

        .date-icon {
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }

    .error {
        color: red;
    }

    .slider {
        position: relative;
        padding: 20px;
        display: flex;
        gap: 10px;
        overflow: hidden;
        cursor: grab;

        &.grabbing {
            cursor: grabbing;
        }

        .card {
            flex: 1 0 calc(20% - 10px);
            min-height: 700px;
            background-color: var(--mainColor);
            border: 1px solid #ddd;
            border-radius: 4px;
            text-align: center;
            box-shadow: 0px 0px 6px 4px rgba(125, 125, 125, 0.25);
            position: relative;
            align-items: center;
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
                height: 350px;
                object-fit: cover;
                border-radius: 4px 4px 0 0;
            }

            h2 {
                font-size: 1.5em;
                margin: 20px 0 0px;
                font-weight: 900;
            }

            h3 {
                color: #bbbbbb;
                font-size: 16px;
                margin-bottom: 20px;
            }

            p {
                width: 80%;
                margin: 8px 0;
                color: #333;
                text-align: left;
                display: flex;
                gap: 10px;
                font-size: 18px;

                &:nth-child(4) {
                    height: 50px;
                }

                img {
                    width: 20px;
                    height: 20px;
                    object-fit: contain;
                }
            }

            .detail_button {
                padding: 10px 20px;
                background-color: var(--pointColor100);
                color: var(--white);
                font-weight: 600;
                cursor: pointer;
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translate(-50%);

                &:hover {
                    color: var(--pointColor100);
                    border: 1px solid var(--pointColor100);
                    background-color: var(--mainColor);
                    box-shadow: inset 0px 0px 0px 2px rgba(125, 125, 125, 1);
                }
            }
        }
    }
}

.slider-container {
    position: relative;

    .prev-button, .next-button {
        width: 80px;
        height: 80px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 100%;
            height: 100%;
            color: #A57E67;
        }
    }

    .prev-button {
        left: 10px;
    }

    .next-button {
        right: 10px;
    }
}

/* 반응형 스타일 추가 */
@media (max-width: 1300px) {
    .slider .card {
        flex: 1 0 calc(25% - 10px);
    }
}

@media (max-width: 1000px) {
    .slider .card {
        flex: 1 0 calc(33.33% - 10px);
    }
}

@media (max-width: 600px) {
    .RegionDetail_header h1 {
        display: none;
    }
    .controls .combined-select {
        display: block;
    }
    .controls select:not(.combined-select),
    .controls input[type="date"] {
        display: none;
    }
    .slider .card {
        flex: 1 0 100%;
    }
}

@media (max-width: 390px) {
    .RegionDetail_header img {
        display: none;
        
    }
    .RegionDetail_header {
        justify-content: center;
    }
    .controls {
        margin-top: 0;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    .slider {
        padding-top: 60px;
    }
}
